#first-section {
    background-color: green;
}

ul {
    text-decoration: underline;
}

.container {
    border: 5px solid red;
}

#P1 {
    font-weight: bold;
    text-decoration: underline;
}

.par {
    font-size: 25px;
    margin: 5px 20px 45px 60px;
    border: 3px darkmagenta dashed;
}
