body main {
    margin-left: 100px;
}

iframe {
    height: 100%;
    width: 75%;
    margin: 5px;
    padding: 10px;
}

.menu-frame {
    padding: 15px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.menu-frame-3sections {
    margin-bottom: auto;
    padding: 15px;
    height: 300px;
}

.menu-frame-3sections iframe {
    height: 75%;
    width: 100%;
    background-color: rgb(190, 190, 190);
}

hr {
    margin-top: 50px;
}

.test1 {
    height: 75%;
}
